# editor temp files
*~
.*.sw?
.sw?
\#*\#
DEADJOE
# Various temp and build files

blib/
.build/
_build/
cover_db/
inc/
Build
Build.bat
_build*
pm_to_blib*
.last_cover_stats
Makefile
Makefile.old
pod2htm*.tmp

# carton stuff
local/*
*/local
cpanfile.snapshot
*/cpanfile.snapshot

#config
/bot.yaml
